<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script
      src="https://kit.fontawesome.com/64d58efce2.js"
      crossorigin="anonymous"
    ></script>
    <link rel="stylesheet" href="../static/css/style_editarusuario.css" />
    <title> Sistema Mexiquense de Medios Publicos - Ediatar-Usuario</title>
  </head>
  <body>
    <div class="container">
      <div class="forms-container">
        <div class="signin-signup">
          <form action="#" class="sign-up-form">
            <h2 class="title">Editar Usuario</h2>
            <div class="input-field">
              <i class="fas fa-user"></i>
              <input type="text" placeholder="Indentificador" />
            </div>
            <div class="input-field">
              <i class="fas fa-user"></i>
              <input type="text" placeholder="Username" />
            </div>
            <div class="input-field">
              <i class="fas fa-envelope"></i>
              <input type="email" placeholder="Correo" />
            </div>
            <div class="input-field">
              <i class="fas fa-phone"></i>
              <input type="text" placeholder="Telefono" />
            </div>
            <div class="input-field">
              <i class="fas fa-lock"></i>
              <input type="password" placeholder="Contraseña" />
            </div>
            <div class="input-field">
              <i class="fas fa-users"></i>
              <input type="text" placeholder="Cargo" />
            </div>
            <input type="submit" class="btn" value="Editar"/>
            <input type="submit" class="btn" value="Cancelar"/>
          </form>
        </div>
      </div>
    </div>
  </body>
</html>
