{% extends "./sesiones.html" %}
{% block title %} Sistema Mexiquense de Medios Publicos - Administracion {% endblock %}
{% block body %}

<h2>
    <center>Lista de Reportajes</center>
</h2>

<div id="content" class="p-4 p-md-0 justify-content-center">
    <div class="form-group row py-2 justify-content-center">
        <div class="col-sm-2">
            <a class="btn btn-icon-split active" style="background-color: #A80C0C;" data-bs-toggle="modal"
                data-bs-target="#staticBackdrop">
                <samp class="icon text-white-50" style="background-color:#FF2424;">
                    <i class="fas fa-plus" style="color: #ffffff;"></i>
                </samp>
                <span class="text" style="color: #fff;">NUEVO</span>
            </a>
        </div>
    </div>
</div>

<div class="container pd-3">
    <div class="row justify-content-center">
        <div class="col-sm-12 col-md-10 col-lg-12 col-xl-12">
            <div class="table-responsive">
                <table class="table table-striped table-inverse py-3" id="tabla_reportajes">
                    <thead class="table-inverse">
                        <tr class="text-center">
                            <th>Numero</th>
                            <!-- <th>Fecha</th> -->
                            <th>Disco</th>
                            <th>Reportero</th>
                            <th>Camarografo</th>
                            <th>Clips</th>
                            <th>Clips Distintos</th>
                            <th>Descripicion</th>
                            <!-- <th>Tema</th> -->
                            <th>Estatus</th>
                            <th>Gestionar</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for c in reportajes %}
                        <tr class="text-center">
                            <td>{{forloop.counter}}</td>
                            <!-- <td id="fecha{{c.disco}}">{{c.fecha}}</td> -->
                            <td>{{c.disco}}</td>
                            <td id="reportero{{c.disco}}">{{c.reportero}}</td>
                            <td id="camarografo{{c.disco}}">{{c.camarografo}}</td>
                            <td id="clip{{c.disco}}">{{c.clip}}</td>
                            <td id="clipdiferetes{{c.disco}}">{{c.clipdiferetes}}</td>
                            <td id="descripcion{{c.disco}}">{{c.descripcion}}</td>
                            <!-- <td id="tema{{c.disco}}">{{c.tema}}</td> -->
                            <td id="estatus{{c.disco}}"><button class="btn"
                                    style="background-color: red; color: #fff;">Espera</button></td>
                            <td>
                                <button id="actualizartajes" value="{{c.disco}}"
                                    class="btn btn-info px-3 me-2 actualizar">
                                    <i class="fas fa-fw fa-edit"></i>
                                </button>
                                <button id="eliminartajes" value="{{c.disco}}" class="btn btn-danger px-3 me-2">
                                    <i class="fas fa-fw fa-trash-alt"></i>
                                </button>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<!-- Registro de Datos -->
<div class="row justify-content-center">
    <div class="col-sm-12 col-md-4 col-lg-4 col-xl-8">
        <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
            aria-labelledby="staticBackdropLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content col-lg-12">
                    <div class="modal-header justify-content-center">
                        <div class="justify-content-center" id="contenedor">
                            <img class="imgform" id="titulo" src="../static/image/AMX.svg" alt="">
                        </div>
                    </div>
                    <div class="modal-body">
                        <form action="/alta_reportaje/" method="post" class="needs-validation" novalidate>
                            {% csrf_token %}
                            <div class="form-group.row.py-0">
                                <h3 class="text-center">Registro de Reportajes</h3>
                            </div>
                            <div class="form-group row justify-content-center">
                                <label for="id_card"
                                    class="col-sm-8 col-form-label text-center justify-content-center">Indentificador de
                                    Registro</label>
                                <div class="col-sm-6"><input type="text" class="form-control" name="id_card"
                                        id="id_card" placeholder="Ingresa el indentificador" minlength="10"
                                        maxlength="20" required>
                                    <div class="valid-feedback">
                                        <!-- todo bien -->
                                    </div>
                                    <div class="invalid-feedback">Indentificador requerido</div>
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-4">
                                    <label for="n_reportero" class="col-form-label text-center">Reportero</label>
                                    <select name="n_reportero" id="n_reportero" aria-label="Default select"
                                        class="form-control" required>
                                        <option value="">Seleccionar</option>
                                        {% for a in reportero_1 %}
                                        <option value="{{a.nombre}}">{{a.nombre}}</option>
                                        {% endfor %}
                                    </select>
                                    <div class="valid-feedback">
                                        <!-- Todo bien -->
                                    </div>
                                    <div class="invalid-feedback">Seleccione un reportero</div>
                                </div>

                                <div class="col-4">
                                    <label for="n_camarografo" class=" col-form-label text-center">Camarografo</label>
                                    <select name="n_camarografo" id="n_camarografo" aria-label="Default select"
                                        class="form-control" required>
                                        <option value="">Seleccionar</option>
                                        {% for b in camarografo%}
                                        <option value="{{b.nombre}}">{{b.nombre}}</option>
                                        {% endfor %}
                                    </select>
                                    <div class="valid-feedback">
                                        <!-- Todo bien -->
                                    </div>
                                    <div class="invalid-feedback">
                                        Seleccione un camarografo
                                    </div>
                                </div>

                                <div class="col-4">
                                    <label for="n_tema" class="col-sm-12 col-form-label">Tema</label>
                                    <input type="text" class="form-control" id="n_tema" name="n_tema"
                                        placeholder="Tema general" required>
                                    <div class="valid-feedback">
                                        <!-- Todo bien -->
                                    </div>
                                    <div class="invalid-feedback">Indentificador requerido</div>
                                </div>

                            </div>

                            <div class="form-group row">

                                <div class="col-sm-5">
                                    <label for="n_fecha" class="col-sm-12 col-form-label text-center">Fecha
                                        registro</label>
                                    <div class="input-group date" id="datepicker">
                                        <input type="text" class="form-control" id="n_fecha" name="n_fecha"
                                            placeholder="Fecha de hoy" required>
                                        <span class="input-group-append">
                                            <span class="input-group-text bg-white">
                                                <i class="fa fa-calendar-alt"></i>
                                            </span>
                                        </span>
                                        <div class="valid-feedback">
                                            <!-- Todo bien -->
                                        </div>
                                        <div class="invalid-feedback">
                                            Seleccione fecha de hoy
                                        </div>
                                    </div>
                                </div>

                                <div class="col-3">
                                    <label for="n_clip" class="col-sm-4 col-form-label">Clips</label>
                                    <input type="text" class="form-control" id="n_clip" name="n_clip"
                                        placeholder="General" required>
                                    <div class="valid-feedback">
                                        <!-- Todo bien -->
                                    </div>
                                    <div class="invalid-feedback">
                                        Ingrese los clips
                                    </div>
                                </div>

                                <div class="col-4">
                                    <label for="n_clipdiferentes" class="col-sm-12 col-form-label">Clips
                                        Distintos</label>
                                    <input type="text" class="form-control" id="n_clipdiferentes"
                                        name="n_clipdiferentes" placeholder="Distintos" required>
                                    <div class="valid-feedback">
                                        <!-- Todo bien -->
                                    </div>
                                    <div class="invalid-feedback">
                                        En caso de aver ingrese los clips si no ingrese 0.
                                    </div>
                                </div>

                                <div class="col-12">
                                    <label for="n_descripcion" class="col-sm-4 col-form-label">Descripcion</label>
                                    <input type="text" class="form-control" id="n_descripcion" name="n_descripcion"
                                        placeholder="Descripcion general del contenido de los clips" required>
                                    <div class="valid-feedback">
                                        <!-- Todo bien -->
                                    </div>
                                    <div class="invalid-feedback">
                                        Ingresar descripcion de los clips a ingestar.
                                    </div>
                                </div>



                                <!-- <div class="col-6">
                            <label for="n_estatus" class="col-sm-12 col-form-label text-center">Estado de registro</label>
                            <select name="n_estatus" id="n_estatus" aria-label="Default select" class="form-control" required>
                                <option value="">Seleccionar una opcion</option>
                                <option value="1">Califiado</option>
                                <option value="2">En Espera</option>
                            </select>
                            </div> -->
                            </div>


                            <!-- <div class="form-group row">
                            <div class="col-12">
                                <label for="n_realizo" class="col-sm-12 col-form-label text-center">Persona que Califico</label>
                                <input type="text" class="form-control" id="n_realizo" name="n_realizo">
                            </div>
                        </div> -->

                            <div class="modal-footer justify-content-center">
                                <button type="button" class="btn btn-secondary"
                                    data-bs-dismiss="modal">CANCELAR</button>
                                <button type="submit" class="btn btn-primary">REGISTRAR</button>
                            </div>

                            <script>

                                /********* formato *****************************/
                                $.fn.datepicker.dates['es'] = {
                                    days: ["Domingo", "Lunes", "Martes", "Miercoles", "Jueves", "Viernes", "Sabado"],
                                    daysShort: ["Do", "Lu", "Ma", "Mi", "Ju", "Vi", "Sa"],
                                    daysMin: ["Do", "Lu", "Ma", "Mi", "Ju", "Vi", "Sa"],
                                    months: ["Enero", "Febrero", "Marzo", "Abril", "Mayo", "Junio", "Julio", "Agosto", "Septiembre", "Octubre", "Noviembre", "Diciembre"],
                                    monthsShort: ["Ene", "Feb", "Mar", "Abr", "May", "Jun", "Jul", "Ago", "Sep", "Oct", "Nov", "Dec"]
                                };
                                /********* fecha registro *****************************/
                                $('#datepicker').datepicker({
                                    format: "yyyy-mm-dd",
                                    language: "es",
                                    keyboardNavigation: false,
                                    forceParse: false,
                                    autoclose: false,
                                    orientation: "auto left"

                                });
                            </script>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>



    <!-- Actualizacion de Datos -->
    <div class="row justify-content-center">
        <div class="col-sm-12 col-md-4 col-lg-4 col-xl-8">
            <div class="modal fade" id="actualizar_reportaje" data-bs-backdrop="static" data-bs-keyboard="false"
                tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content col-lg-12">
                        <div class="modal-header justify-content-center">
                            <div class="justify-content-center" id="contenedor">
                                <img class="imgform" id="titulo" src="../static/image/AMX.svg" alt="">
                            </div>
                        </div>
                        <div class="modal-body">
                            <form action="/actualizar_reportaje/" method="post" class="needs-validation" novalidate> {%
                                csrf_token %}
                                <div class="form-group.row.py-0">
                                    <h3 class="text-center">Registro de Reportajes</h3>
                                </div>
                                <div class="form-group row justify-content-center">
                                    <label for="id_card"
                                        class="col-sm-8 col-form-label text-center justify-content-center">Indentificador
                                        de
                                        Registro</label>
                                    <div class="col-sm-6"><input type="text" class="form-control" name="id_card_a"
                                            id="id_card_a" placeholder="Ingresa el indentificador" minlength="10"
                                            maxlength="20" required>
                                        <div class="valid-feedback">
                                            <!-- Todo bien -->
                                        </div>
                                        <div class="invalid-feedback">
                                            Indentificador requerido
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <div class="col-4">
                                        <label for="n_reportero" class="col-form-label text-center">Reportero</label>
                                        <select name="n_reportero_a" id="n_reportero_a" aria-label="Default select"
                                            class="form-control" required>
                                            <option value="">Seleccionar</option>

                                            {% for a in reportero_1 %}
                                            <option value="{{a.nombre}}">{{a.nombre}}</option>
                                            {% endfor %}
                                        </select>
                                        <div class="valid-feedback">
                                            <!-- Todo bien -->
                                        </div>
                                        <div class="invalid-feedback">
                                            Seleccione un reportero
                                        </div>
                                    </div>

                                    <div class="col-4">
                                        <label for="n_camarografo"
                                            class=" col-form-label text-center">Camarografo</label>
                                        <select name="n_camarografo_a" id="n_camarografo_a" aria-label="Default select"
                                            class="form-control" required>
                                            <option value="">Seleccionar</option>
                                            {% for b in camarografo%}
                                            <option value="{{b.nombre}}">{{b.nombre}}</option>
                                            {% endfor %}
                                        </select>
                                        <div class="valid-feedback">
                                            <!-- Todo bien -->
                                        </div>
                                        <div class="invalid-feedback">
                                            Seleccione un camarografo
                                        </div>
                                    </div>

                                    <div class="col-4">
                                        <label for="n_tema" class="col-sm-12 col-form-label">Tema</label>
                                        <input type="text" class="form-control" id="n_tema_a" name="n_tema_a"
                                            placeholder="Tema general" required>
                                        <div class="valid-feedback">
                                            <!-- Todo bien -->
                                        </div>
                                        <div class="invalid-feedback">
                                            Indentificador requerido
                                        </div>
                                    </div>

                                </div>


                                <div class="form-group row">

                                    <div class="col-sm-5">
                                        <label for="n_fecha" class="col-sm-12 col-form-label text-center">Fecha
                                            registro</label>
                                        <div class="input-group date" id="datepicker">
                                            <input type="text" class="form-control" id="n_fecha_a" name="n_fecha_a"
                                                placeholder="Fecha de hoy" required>
                                            <span class="input-group-append">
                                                <span class="input-group-text bg-white">
                                                    <i class="fa fa-calendar-alt"></i>
                                                </span>
                                            </span>
                                            <div class="valid-feedback">
                                                <!-- Todo bien -->
                                            </div>
                                            <div class="invalid-feedback">
                                                Seleccione fecha de hoy
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-3">
                                        <label for="n_clip" class="col-sm-4 col-form-label">Clips</label>
                                        <input type="text" class="form-control" id="n_clip_a" name="n_clip_a"
                                            placeholder="General" required>
                                        <div class="valid-feedback">
                                            <!-- Todo bien -->
                                        </div>
                                        <div class="invalid-feedback">
                                            Ingrese los clips
                                        </div>
                                    </div>

                                    <div class="col-4">
                                        <label for="n_clipdiferentes" class="col-sm-12 col-form-label">Clips
                                            Distintos</label>
                                        <input type="text" class="form-control" id="n_clipdiferentes_a"
                                            name="n_clipdiferentes_a" placeholder="Distintos" required>
                                        <div class="valid-feedback">
                                            <!-- Todo bien -->
                                        </div>
                                        <div class="invalid-feedback">
                                            En caso de aver ingrese los clips si no ingrese 0.
                                        </div>
                                    </div>

                                    <div class="col-12">
                                        <label for="n_descripcion" class="col-sm-4 col-form-label">Descripcion</label>
                                        <input type="text" class="form-control" id="n_descripcion_a"
                                            name="n_descripcion_a"
                                            placeholder="Descripcion general del contenido de los clips" required>
                                        <div class="valid-feedback">
                                            <!-- Todo bien -->
                                        </div>
                                        <div class="invalid-feedback">
                                            Ingresar descripcion de los clips a ingestar.
                                        </div>
                                    </div>



                                    <!-- <div class="col-6">
                            <label for="n_estatus" class="col-sm-12 col-form-label text-center">Estado de registro</label>
                            <select name="n_estatus" id="n_estatus" aria-label="Default select" class="form-control" required>
                                <option value="">Seleccionar una opcion</option>
                                <option value="1">Califiado</option>
                                <option value="2">En Espera</option>
                            </select>
                            </div> -->
                                </div>


                                <!-- <div class="form-group row">
                            <div class="col-12">
                                <label for="n_realizo" class="col-sm-12 col-form-label text-center">Persona que Califico</label>
                                <input type="text" class="form-control" id="n_realizo" name="n_realizo">
                            </div>
                        </div> -->

                                <div class="modal-footer justify-content-center">
                                    <button type="button" class="btn btn-secondary"
                                        data-bs-dismiss="modal">CANCELAR</button>
                                    <button type="submit" class="btn btn-primary">REGISTRAR</button>
                                </div>

                                <script>

                                    /********* formato *****************************/
                                    $.fn.datepicker.dates['es'] = {
                                        days: ["Domingo", "Lunes", "Martes", "Miercoles", "Jueves", "Viernes", "Sabado"],
                                        daysShort: ["Do", "Lu", "Ma", "Mi", "Ju", "Vi", "Sa"],
                                        daysMin: ["Do", "Lu", "Ma", "Mi", "Ju", "Vi", "Sa"],
                                        months: ["Enero", "Febrero", "Marzo", "Abril", "Mayo", "Junio", "Julio", "Agosto", "Septiembre", "Octubre", "Noviembre", "Diciembre"],
                                        monthsShort: ["Ene", "Feb", "Mar", "Abr", "May", "Jun", "Jul", "Ago", "Sep", "Oct", "Nov", "Dec"]
                                    };
                                    /********* fecha registro *****************************/
                                    $('#datepicker').datepicker({
                                        format: "yyyy-mm-dd",
                                        language: "es",
                                        keyboardNavigation: false,
                                        forceParse: false,
                                        autoclose: false,
                                        orientation: "auto left"

                                    });
                                </script>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- eliminar formualario camarografos -->
        <div class="modal fade" id="eliminar_reportaj" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
            aria-labelledby="staticBackdropLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header justify-content-center">
                        <div class="justify-content-center" id="contenedor">
                            <img class="imgform" id="titulo" src="../static/image/AMX.svg" alt="">
                        </div>
                    </div>
                    <div class="modal-body">
                        <form action="/eliminar_reportaje/" method="post">{% csrf_token %}
                            <div class="form-group row">
                                <label for="id_card" class="col-sm-3 col-form-label text-center">Indentificador:
                                </label>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control" readonly name="id_card_e"
                                        id="id_card_e placeholder="" required>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="n_reportero" class="col-sm-3 col-form-label text-center">Nombre de
                                    Reportero:</label>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control" readonly name="n_reportero" id="n_reportero
                                        placeholder="" required>
                                </div>
                            </div>
                            <div class=" modal-footer">
                                    <button type="button" class="btn btn-secondary"
                                        data-bs-dismiss="modal">CANCELAR</button>
                                    <button type="submit" class="btn btn-primary">ELIMINAR</button>
                                </div>
                        </form>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}